In [1]:
import string
import random
import pandas as pd
import pyodbc

1) create usernames using pattern "GUEST_", from GUEST_1 to GUEST_99

In [2]:
username = [f"Guest_{n}" for n in range(1, 100)]

2) generate random password, containing letters and digits, for each username created above

In [3]:
char = string.ascii_letters + string.digits

def pwd_generator():
    return "".join(random.choices(char, k=6))

password = [pwd_generator() for n in range(len(username))]

#PATHWAY 1 ----- create Pandas DF and export data as CSV for authentication using SQL database

3) create pandas df constituted of each username and password and exporting it to CSV
(only for dev purposes - to export to SQL server)

In [4]:
df = pd.DataFrame(data={"username": username, "password": password})
print(df)

    username password
0    Guest_1   1RXGLy
1    Guest_2   YaPFrp
2    Guest_3   NIiGTh
3    Guest_4   ZKhT6n
4    Guest_5   nmRK0X
..       ...      ...
94  Guest_95   fRGTUk
95  Guest_96   YTuJMi
96  Guest_97   je0VaW
97  Guest_98   htAh3l
98  Guest_99   21zeoa

[99 rows x 2 columns]

4) Export df to CSV

In [6]:
df.to_csv("C:/Users/luci/Desktop/pwd_db2.csv", sep=',', index=True)

#5) Import flat file on SQL database (Azure)


#If needed to query database using python:
#5.1) Create connection with SQL server (local)

In [8]:
conn_string = (r'Driver={SQL Server};'
                      r'Server=LUCIANAS-LAPTOP;'
                      r'Database=password;'
                      r'Trusted_Connection=yes;')

conn = pyodbc.connect(conn_string)

cursor = conn.cursor()

cursor.execute('SELECT * FROM password.dbo.pwd_db2;')

for row in cursor:
    print(row)

('0', 'Guest_1', 'CG4nkE')
('1', 'Guest_2', 'xgQTxT')
('2', 'Guest_3', 'Bl9zon')
('3', 'Guest_4', 'lzPion')
('4', 'Guest_5', 'chRK2b')
('5', 'Guest_6', 'IvO3fy')
('6', 'Guest_7', 'bcKNYb')
('7', 'Guest_8', 'eva4Le')
('8', 'Guest_9', 'n7cEQJ')
('9', 'Guest_10', 'K0XwjR')
('10', 'Guest_11', 'uP4TP0')
('11', 'Guest_12', 'iOdc1R')
('12', 'Guest_13', 'v5NsgL')
('13', 'Guest_14', 'WUDMNb')
('14', 'Guest_15', 'xyZdpW')
('15', 'Guest_16', 'tTKcL2')
('16', 'Guest_17', 'qwijsi')
('17', 'Guest_18', 'X97liK')
('18', 'Guest_19', 'Lzm0NH')
('19', 'Guest_20', 'okDDbX')
('20', 'Guest_21', '64NXY2')
('21', 'Guest_22', 'J6B58F')
('22', 'Guest_23', '3YnX2F')
('23', 'Guest_24', 'YqWETS')
('24', 'Guest_25', 'Lk6F9c')
('25', 'Guest_26', 'k7h7eN')
('26', 'Guest_27', 'ee89nu')
('27', 'Guest_28', 'jOTzFY')
('28', 'Guest_29', 'T7Z7qQ')
('29', 'Guest_30', '5HQnVP')
('30', 'Guest_31', 'TB9MoS')
('31', 'Guest_32', 'Yo8syu')
('32', 'Guest_33', '1HiXmi')
('33', 'Guest_34', 'W2w9oK')
('34', 'Guest_35', 'SF5DOd')
('35', 'Guest_36', 'gHGNaF')
('36', 'Guest_37', 'ym4Pwo')
('37', 'Guest_38', 'V61Wrq')
('38', 'Guest_39', 'QRarvk')
('39', 'Guest_40', 'ilbeYJ')
('40', 'Guest_41', 'RJinOY')
('41', 'Guest_42', 'eN5v24')
('42', 'Guest_43', '7xuKhb')
('43', 'Guest_44', 'H9XHw3')
('44', 'Guest_45', 'ViJWPR')
('45', 'Guest_46', '4lIXA0')
('46', 'Guest_47', 'zdehaZ')
('47', 'Guest_48', '1LnRSC')
('48', 'Guest_49', 'nBIts6')
('49', 'Guest_50', 'mmGDCr')
('50', 'Guest_51', 'W6zFjr')
('51', 'Guest_52', 'hQsMqc')
('52', 'Guest_53', 'Nb5FT1')
('53', 'Guest_54', 'rq81eJ')
('54', 'Guest_55', '77LhmF')
('55', 'Guest_56', 'paT5OX')
('56', 'Guest_57', 'RnHDIe')
('57', 'Guest_58', 'scKhqc')
('58', 'Guest_59', 'bOeLsB')
('59', 'Guest_60', 'Q4rPCy')
('60', 'Guest_61', '2f7DJb')
('61', 'Guest_62', 'tHZErZ')
('62', 'Guest_63', 'OcWWN0')
('63', 'Guest_64', 'EGlSCy')
('64', 'Guest_65', 'GyquDc')
('65', 'Guest_66', 'Tnrqbu')
('66', 'Guest_67', '9alfQC')
('67', 'Guest_68', 'SKbhOL')
('68', 'Guest_69', 'QQZYr3')
('69', 'Guest_70', 'FrTdsO')
('70', 'Guest_71', 'XQNbFN')
('71', 'Guest_72', 'N7g19G')
('72', 'Guest_73', 'JJQENh')
('73', 'Guest_74', 'rsb2iB')
('74', 'Guest_75', 'ugPkyd')
('75', 'Guest_76', '9FsHeI')
('76', 'Guest_77', 'fLo5ju')
('77', 'Guest_78', '9SQtzC')
('78', 'Guest_79', 'aM9Dnw')
('79', 'Guest_80', '4XBmVT')
('80', 'Guest_81', '8gaBbB')
('81', 'Guest_82', 'G7VjSd')
('82', 'Guest_83', 'mP3LXd')
('83', 'Guest_84', 'epqsMu')
('84', 'Guest_85', 'VQc61I')
('85', 'Guest_86', 'NUjidc')
('86', 'Guest_87', 'DU4Il0')
('87', 'Guest_88', 'VKvLlz')
('88', 'Guest_89', 'nqPj07')
('89', 'Guest_90', 'JBx7D3')
('90', 'Guest_91', 'sCjvco')
('91', 'Guest_92', 'ru8sDD')
('92', 'Guest_93', 'nbZ2tA')
('93', 'Guest_94', 'zl2ZjH')
('94', 'Guest_95', 'Oy0OSQ')
('95', 'Guest_96', 'Sa2WQr')
('96', 'Guest_97', 'd8QW8v')
('97', 'Guest_98', 'TQ8DZg')
('98', 'Guest_99', 'HGOFBN')

5.2) Create connection with cloud SQL server (Azure)

In [11]:
server = 'authsqlserver20091986.database.windows.net'
database = 'authDB'
username = 'lumarini'
password = '{Tequila123*}'
driver= '{ODBC Driver 17 for SQL Server}'

with pyodbc.connect('DRIVER='+driver+';SERVER=tcp:'+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password) as conn:
    with conn.cursor() as cursor:
        cursor.execute("SELECT * FROM [dbo].[pwd_db2]")
        row = cursor.fetchone()
        while row:
            print (str(row[0]) + " " + str(row[1]))
            row = cursor.fetchone()

0 Guest_1
1 Guest_2
10 Guest_11
11 Guest_12
12 Guest_13
13 Guest_14
14 Guest_15
15 Guest_16
16 Guest_17
17 Guest_18
18 Guest_19
19 Guest_20
2 Guest_3
20 Guest_21
21 Guest_22
22 Guest_23
23 Guest_24
24 Guest_25
25 Guest_26
26 Guest_27
27 Guest_28
28 Guest_29
29 Guest_30
3 Guest_4
30 Guest_31
31 Guest_32
32 Guest_33
33 Guest_34
34 Guest_35
35 Guest_36
36 Guest_37
37 Guest_38
38 Guest_39
39 Guest_40
4 Guest_5
40 Guest_41
41 Guest_42
42 Guest_43
43 Guest_44
44 Guest_45
45 Guest_46
46 Guest_47
47 Guest_48
48 Guest_49
49 Guest_50
5 Guest_6
50 Guest_51
51 Guest_52
52 Guest_53
53 Guest_54
54 Guest_55
55 Guest_56
56 Guest_57
57 Guest_58
58 Guest_59
59 Guest_60
6 Guest_7
60 Guest_61
61 Guest_62
62 Guest_63
63 Guest_64
64 Guest_65
65 Guest_66
66 Guest_67
67 Guest_68
68 Guest_69
69 Guest_70
7 Guest_8
70 Guest_71
71 Guest_72
72 Guest_73
73 Guest_74
74 Guest_75
75 Guest_76
76 Guest_77
77 Guest_78
78 Guest_79
79 Guest_80
8 Guest_9
80 Guest_81
81 Guest_82
82 Guest_83
83 Guest_84
84 Guest_85
85 Guest_86
86 Guest_87
87 Guest_88
88 Guest_89
89 Guest_90
9 Guest_10
90 Guest_91
91 Guest_92
92 Guest_93
93 Guest_94
94 Guest_95
95 Guest_96
96 Guest_97
97 Guest_98
98 Guest_99